<div class="panel filter-border">
  <div class="row">
  <div class="col-sm-6 padding-sm-hr">
    <h4>Track Picker</h4>
    <select id="mySel2" class="form-control" multiple="multiple">
      <option ng-repeat="item in tracks" ng-selected="item.selected" ng-model="item.name">{{item.name}}</option>
    </select>
  </div>
  <!--/col-->
  <div class="col-md-6">
    <h4>Sort by</h4>
    <ul class="filter text-center" ok-key="filter">
      <li><a href="javascript:void(0)" ok-sel=".fmcircle_red">Smart Sort</a>
      </li>
      <li><a href="#" ok-sel=".interactive">Skill Level</a>
      </li>
      <li><a href="#" ok-sel=".print">Progress</a>
      </li>
      <li><a href="#" ok-sel=".photography">Alphabetical</a>
      </li>
    </ul>
  </div>
</div>
</div>

<!--/row-->
<div class="row" isotope-container="">
  <div ng-repeat="subtrack in trackTags | limitTo: itemsLimit()">
    <div class="col-lg-3 col-sm-3">
      <section class="skillbox ">
        <div class="black-overlay">
          <ul class="list-unstyled list-inline text-center">
            <li>
              <button class="btn btn-primary btn-flat"><i class="fa fa-fw fa-lightbulb-o"></i> Learn</button>
            </li>
            <li>
              <button class="btn btn-primary btn-flat"><i class="fa fa-fw fa-pencil"></i> Practice</button>
            </li>
          </ul>
          <a class="close-overlay hidden">x</a>
        </div>
        <div class="skill-color-overlay {{subtrack.perctCss}}"></div>
        <div class="skill-info">
          <h3 ng-bind="subtrack.name" class="text-center"></h3>
          <aside class="skill-progress">
            <strong><i class="fa fa-fw fa-question-circle"></i> 67/2</strong>
            <strong class="ng-binding"><i class="fa fa-fw fa-mortar-board"></i> {{subtrack.percent}}</strong>
          </aside>
          <div class="progress progress-striped" style="height: 20px;">
            <div class="progress-bar" style="width: {{subtrack.percent}};"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!--repeat-->
</div>
<div class="row">
  <div class="col-md-2">
    <a class="cursor-a" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Show more</a>
  </div>
</div>
